.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 720px) {
  .form {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 30%;
  }
}
